back/node_modules
back/.idea
back/.env
back/.env.prod
back/.env.dev
back/dist
back/yarn.lock
back/package-lock.json
back/*.js

.idea

front/node_modules
front/.idea
front/.env
front/.env.prod
front/.env.dev
front/build
front/yarn.lock
front/package-lock.json

